Library/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61496/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfBookDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookDTO" nillable="true" type="tns:BookDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookDTO" nillable="true" type="tns:ArrayOfBookDTO" />
  <xs:complexType name="BookDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Authors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Genres" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Presence" type="xs:boolean" />
      <xs:element minOccurs="0" name="SampleCount" type="xs:int" />
      <xs:element minOccurs="0" name="SampleId" type="xs:int" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookDTO" nillable="true" type="tns:BookDTO" />
  <xs:complexType name="ArrayOfUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDTO" nillable="true" type="tns:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDTO" nillable="true" type="tns:ArrayOfUserDTO" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="ArrayOfTakenBookDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TakenBookDTO" nillable="true" type="tns:TakenBookDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTakenBookDTO" nillable="true" type="tns:ArrayOfTakenBookDTO" />
  <xs:complexType name="TakenBookDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateReturn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTaken" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SampleId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TakenBookDTO" nillable="true" type="tns:TakenBookDTO" />
  <xs:complexType name="ArrayOfReviewDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReviewDTO" nillable="true" type="tns:ReviewDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReviewDTO" nillable="true" type="tns:ArrayOfReviewDTO" />
  <xs:complexType name="ReviewDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CanEdit" type="xs:boolean" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReviewDTO" nillable="true" type="tns:ReviewDTO" />
</xs:schema>