Library/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCreate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Listgetbooks" nillable="true" type="tns:ArrayOfListgetbooks" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordHash" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfilePhotoPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="tns:Role" />
      <xs:element minOccurs="0" name="RoleId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="ArrayOfListgetbooks">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Listgetbooks" nillable="true" type="tns:Listgetbooks" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfListgetbooks" nillable="true" type="tns:ArrayOfListgetbooks" />
  <xs:complexType name="Listgetbooks">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateReturn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateTaken" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Sample" nillable="true" type="tns:Sample" />
      <xs:element minOccurs="0" name="SampleId" type="xs:int" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:Users" />
      <xs:element minOccurs="0" name="UsersId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Listgetbooks" nillable="true" type="tns:Listgetbooks" />
  <xs:complexType name="Sample">
    <xs:sequence>
      <xs:element minOccurs="0" name="Book" nillable="true" type="tns:Book" />
      <xs:element minOccurs="0" name="BookId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Listgetbooks" nillable="true" type="tns:ArrayOfListgetbooks" />
      <xs:element minOccurs="0" name="Presence" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sample" nillable="true" type="tns:Sample" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookAuthors" nillable="true" type="tns:ArrayOfBookAuthors" />
      <xs:element minOccurs="0" name="BookGenres" nillable="true" type="tns:ArrayOfBookGenres" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reviews" nillable="true" type="tns:ArrayOfReview" />
      <xs:element minOccurs="0" name="Samples" nillable="true" type="tns:ArrayOfSample" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="ArrayOfBookAuthors">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookAuthors" nillable="true" type="tns:BookAuthors" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookAuthors" nillable="true" type="tns:ArrayOfBookAuthors" />
  <xs:complexType name="BookAuthors">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="tns:Author" />
      <xs:element minOccurs="0" name="AuthorId" type="xs:int" />
      <xs:element minOccurs="0" name="Book" nillable="true" type="tns:Book" />
      <xs:element minOccurs="0" name="BookId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookAuthors" nillable="true" type="tns:BookAuthors" />
  <xs:complexType name="Author">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookAuthors" nillable="true" type="tns:ArrayOfBookAuthors" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Author" nillable="true" type="tns:Author" />
  <xs:complexType name="ArrayOfBookGenres">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookGenres" nillable="true" type="tns:BookGenres" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookGenres" nillable="true" type="tns:ArrayOfBookGenres" />
  <xs:complexType name="BookGenres">
    <xs:sequence>
      <xs:element minOccurs="0" name="Book" nillable="true" type="tns:Book" />
      <xs:element minOccurs="0" name="BookId" type="xs:int" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="tns:Genre" />
      <xs:element minOccurs="0" name="GenreId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookGenres" nillable="true" type="tns:BookGenres" />
  <xs:complexType name="Genre">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookGenres" nillable="true" type="tns:ArrayOfBookGenres" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Genre" nillable="true" type="tns:Genre" />
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
  <xs:complexType name="Review">
    <xs:sequence>
      <xs:element minOccurs="0" name="Book" nillable="true" type="tns:Book" />
      <xs:element minOccurs="0" name="BookId" type="xs:int" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Rating" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:Users" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
  <xs:complexType name="ArrayOfSample">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sample" nillable="true" type="tns:Sample" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSample" nillable="true" type="tns:ArrayOfSample" />
  <xs:complexType name="Role">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Users" nillable="true" type="tns:ArrayOfUsers" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Role" nillable="true" type="tns:Role" />
  <xs:complexType name="ArrayOfUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsers" nillable="true" type="tns:ArrayOfUsers" />
</xs:schema>